* {
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(./img/pexels-pixabay-531880.jpg) no-repeat center center/ cover;

}

.contenedor-principal{
    width: 80vw;
    max-width: 540px;
    min-height: 315px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 12px;
}

.contenedor-botones{
    padding: 20px;

}

#cronometro{
    width: 100%;
    font-size: 80px;
    font-weight: bold;
    user-select: none;
    font-family:fantasy ;
}

#cronometro span{
    font-size: 40px;
}

.boton{
    width: 70px;
    height: 70px;
    font-size: 50px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

#boton-inicio-pausa.iniciar {
    background-color: rgb(161, 255, 21);
}

#boton-inicio-pausa.iniciar:hover{
    background-color: rgb(131, 235, 11);

}

#boton-inicio-pausa.pausar {
    background-color: rgb(255, 230, 0);
}

#boton-inicio-pausa.pausar:hover {
    background-color: rgb(235, 220, 0);
}

#boton-reiniciar{
    background-color: rgb(255, 0, 0);
}

#boton-reiniciar:hover{
    background-color: rgb(225, 0, 0);
}


